table {
    border-collapse: collapse;
    margin: 25px 70px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #222223;
    /* background-color: #0073FF; */
    color: #ffffff;
    text-align: left;
    border-color: #fff;
}

th,
td {
    padding: 12px 15px;
}

tbody,
tr {
    border-bottom: 1px solid #dddddd;
}

tbody,
tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 5px solid #fff;
}

.edit-icon {
    width: 15px;
    float: right;
}

@media screen and (max-width: 960px) {
    table {
        min-width: 250px;
    }
}